

/*HEADER STUFF*/
header{
	background-color:white;
	
}
nav{
	
	background-color:pink;
	
	
}

.navbar{
	background-color:firebrick;
	width:100%;
	
}

.navbar a{
	color:white;
	margin:5px;
	padding:5px;
	text-align:center;
	text-decoration:none;
	font-family:'Open Sans', sans-serif;
	font-size:17px;
}
/*END HEADER STUFF*/

/*BODY STUFF*/
.title{
	text-align:center;
	padding:0px;
	font-family:'Open Sans', sans-serif;
	color:white;
	font-size:2.2vw;
	text-shadow:0 0 .5vw navy;
	
}

	/*UPPER BODY*/
	.upper-content{
		margin:0;
		
		height:100vh;
	}
	
	/*LOWER BODY*/
	.lower-content{
		margin:0;
		width:100vw;
	}
	
	.it-content{
		margin:0;
		height:33vh;
		width:100vw;
	}
	
	.cd-content{
		margin:0;
		height:33vh;
		width:100vw;
	}
	
	.ct-content{
		margin:0;
		height:33vh;
		width:100vw;
	}
	
	.ITbutton{
		float:left;
	}
	.CDbutton{
		float:right;
	}
	.CTbutton{
		float:left;
	}

/*WHAT BUTTONS LOOK LIKE AND ANIMATIONS*/
	button{
		
		padding:10px;
		font-family:'Open Sans', sans-serif;
		font-size:20px;
		color:white;
		background-color:rgba(4,85,167,1);
		
		border-color:pink;
		border-radius: 40px;
		margin:5px;
		cursor:pointer;
		width:15em;
		
	}

	button:hover{
		background-color:black;
		-webkit-transition-duration:0.4s;
	}


body{
	margin:0;
	background-color:grey;
}